
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

h1 {
    color: #0000FF;
}

h2 {
    color: #FF0000;
}


.table {
    font-size: 14px;
}

.table tr, .table td {
    height: 14px;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 2.5px;
}

a {
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
}

pre {
    overflow: auto;
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.43;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.fixMessageHeader {
    background-color: #eef;
}

.fixMessageTrailer {
    background-color: #fee;
}