<!DOCTYPE html>
<html lang="en">

<head>
    <title th:text="${title}"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/webjars/bootstrap/5.0.0-beta1/css/bootstrap.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/5.0.0-beta1/js/bootstrap.min.js"></script>

    <link href="/css/main.css" rel="stylesheet">
    <script src="/js/toggle-example.js"></script>

</head>

<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="https://github.com/yueyis">My Github</a>
        </div>
    </div>
</nav>

<div class="container" style="padding:10px 0 20px 0;">

    <form method="POST" action="/fixparser" modelAttribute="formdata">
        <div class="form-group">
            <label for="comment">Delimiter should be <i>SOH (\x01)</i>, <i>pipe (|)</i>, <i>semicolon (;)</i>, <i>☺</i>
                or <i>^A</i>.</label>
            <textarea class="form-control" rows="6" id="textarea" name="text" th:text="${text}"></textarea>

            <div style="padding: 10px 0 25px 0;">
                <div style="float:left; align:left">
                    <a class="fix_examples" href="#" title="Click to see example FIX messages">Examples</a>
                    <a>
                        <label for="fixdialect">FIX Dialect</label>
                        <select name="fixdialect">
                            <option th:each="fixoption : ${FixOptionList}"
                                    th:value="${fixoption.getVersion()}"
                                    th:text="${fixoption.getDesc()}"
                                    th:selected="${fixoption.getVersion() == fixdialect}"></option>
                        </select>
                    </a>
                </div>
                <div style="float:right; align:right">
                    <button type="button" class="btn btn-outline-info" onclick="location.href='/fixparser'"><i
                            class="bi bi-arrow-repeat">Reset</i>
                    </button>
                    <button type="submit" class="btn btn-primary">Parse</button>
                </div>
            </div>
        </div>

    </form>

    <div style="height:20px;"></div>
    <div th:if="${fixParseResList==null or fixParseResList.isEmpty()}"
         style="text-align: center;vertical-align: middle;color: #31708f; background-color: #d9edf7 ; padding: 10px; ">
        No <strong>FIX Protocol</strong> message detected.
    </div>

    <div th:if="${fixParseResList!=null and !fixParseResList.isEmpty()}" th:object="${fixParseResList}">
        <div th:each="fixParseRes :${fixParseResList}">

            <th:block th:each="item: ${fixParseRes}">
                <h5 th:if="${item.getTag() == '35'}" th:text="${item.getDesc()}" style="font-weight: bold;"/>
            </th:block>

            <table class="table table-hover msgDetail">
                <tr>
                    <th>Tag</th>
                    <th>Field</th>
                    <th>Value</th>
                    <th>Description</th>
                </tr>
                <tr th:each="field :${fixParseRes}"
                    th:class="(${#strings.equals(field.getMsgCategory(),'header')} ? 'fixMessageHeader' : (${#strings.equals(field.getMsgCategory(),'trailer')} ? 'fixMessageTrailer' : ''))">
                    <td th:text="${field.getTag()}"></td>
                    <td th:text="${field.getName()} == '' ? 'Custom Tag' : ${field.getName()} "
                        th:style="${field.getName()} == '' ? 'color:red' : ''"></td>
                    <td th:text="${field.getValue()}"></td>
                    <td th:text="${field.getDesc()}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>

<footer class="footer">
    <div class="container">
        <span class="text-muted">©Copyright 2019-2020 yueyis.</span>
    </div>
</footer>

</body>

</html>